.App {
  width: 1000px;
  margin: 40px auto 0;
  display: flex;
}

.left-navi {
  list-style-type: none;
  margin-right: 40px;
  padding-right: 40px;
  border-right: 1px solid #ccc;
}

.App-title{
  text-align: center;
  margin-top: 0;
}

.result-area{
  display: flex;
}

.result-right{
  margin-left: 20px;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
